<div class="footer">
  <div class="row">
    <div class="col-md-2">
      <div class="circle">
        <img src="./assets/images/app/comback_full.png" alt="Comback full" width="100px" height="100px">
      </div><br>
    </div>
    <div class="col-md-3">
      <div class="location">
        <fa name="fas fa-location-arrow"></fa><br>
        <div>Cucrid Building<br>
        KM. 10 Idiroko Road,<br> Canaan Land, Ota,<br> Ogun State, Nigeria</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="location">
        <fa name="fas fa-phone"></fa><br>
        <div>+2348032139571<br><br></div>
        <fa name="fas fa-envelope open"></fa><br>
        <div><a href="mailto: support@comback.co">support@comback.co</a><br><br></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="location socials">
        <a href="#" target="_blank"><fa name="fab fa-facebook-square"></fa></a>
        <a href="#" target="_blank"><fa name="fas fa-twitter"></fa></a>
        <a href="#" target="_blank"><fa name="fab fa-google-plus-square"></fa></a>
        <a href="#" target="_blank"><fa name="fab fa-instagram"></fa></a>
      </div>
    </div>
  </div>
</div>
<div class="footer-note">
  All rights Reserved
  <span class="footer-right">
    &copy; Comback 2018
  </span>
</div>