<div class="main-bk">
  <div class="info-bk">
    <h1>Business Feedbacks</h1>
  </div><br>

  <div class="main-content">
    <div class="cf-control">
      <span class="control1 h5">
        <a href="#" routerLink="/complain/55reer34t">Complains</a>
      </span>

      <span class="control2 h5">
        Feedbacks
      </span>
    </div><br>

    <div class="row">
      <div class="col-md-4">
        <div class="feedback-box">
          <div class="feedback-header h3">
            Promise Nwosu
          </div><br>

          <div class="feedback-body">
            <b>What do you love most about us?</b><br>
            <p>Your company just screams excellence on all fronts and it is quite refreshing given our current predicaments in thsi country</p><br><br>

            <b>Advice, Improvements, opinions or just a general message</b><br>
            <p>I have alot to say but this platform would not permit me to but it is awesome to be here comenting...</p>
          </div>

          <div class="feedback-footer">
            4 stars
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feedback-box">
          <div class="feedback-header h3">
            Darrel Idiagbor
          </div><br>

          <div class="feedback-body">
            <b>What do you love most about us?</b><br>
            <p>Your company just screams excellence on all fronts and it is quite refreshing given our current predicaments in thsi country</p><br><br>

            <b>Advice, Improvements, opinions or just a general message</b><br>
            <p>I have alot to say but this platform would not permit me to but it is awesome to be here comenting...</p>
          </div>

          <div class="feedback-footer">
            4.8 stars
          </div>
        </div>
      </div>
    </div>
  </div>
</div>