<div class="main-bk">
  <div class="info-bk">
    <h1>Business Complains</h1>
  </div><br>

  <div class="main-content">
    <div class="cf-control">
      <span class="control1 h5">
        Complains
      </span>

      <span class="control2 h5">
        <a href="#" routerLink="/feedback/55reer34t">Feedbacks</a>
      </span>
    </div><br>

    <div class="row">
      <div class="col-md-4">
        <div class="complain-box">
          <a href="" routerLink="/complain/details/r535te473f">
            <div class="complain-header h3">
              Promise Nwosu
            </div><br>

            <div class="complain-body">
              From startup to scale-up, we can support you at every stage of your businesses’ growth.<br>
              We help global brands accept payments from across Africa.<br>
              Paystack helps many of the largest corporate and government organizations in Nigeria get paid quickly and securely.
            </div>

            <div class="complain-footer">
              + 4 more
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="complain-box">
          <a href="" routerLink="/complain/details/r535te473f">
            <div class="complain-header h3">
              Darrel Idiagbor
            </div><br>

            <div class="complain-body">
              From startup to scale-up, we can support you at every stage of your businesses’ growth.<br>
              We help global brands accept payments from across Africa.<br>
              Paystack helps many of the largest corporate and government organizations in Nigeria get paid quickly and securely.
            </div>

            <div class="complain-footer">
              + 4 more
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>